﻿
#about-page-jumbotron {
    width: 100%;
    background-attachment: fixed;
    background-image: url("about-page-photos/chris-thompson-long-distance.jpg");
    background-position-y: 0px;
    background-position: top;
}

#about-page-jumbotron > div > h1{
    color: white;
}

#about-page-jumbotron > div > p{
    color: white;
}

#fitness-bullet-points {
    
    padding-top: 50px;
    
}



#nike-card-body{
    padding: 15px;
    background-image: url("/Content/about-page-photos/track.jpg");
    background-size: cover;
    background-position: bottom;
}


#nike-card-body > h5 {
    color: white;
}

#nike-card-body > p {
    color: white;
}

#garmin-card-body {
    padding: 15px;
    background-image: url("/Content/about-page-photos/garmin-card-photo.png");
    background-size: cover;
    background-position: center;
}

#garmin-card-body > h5 {
    color: white;
}

#garmin-card-body > p {
    color: white;
}

.card-button {
    background-color: rgba(82,166,249,0.6);
    border-color: rgba(82,166,249,0.6);
    
}
