﻿header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url(img/frontpage.jpg);
    background-position: center center;
    background-size: cover;
    color: #ffffff;
}
img {
    opacity: 0.3;

}