﻿@model IEnumerable<FitnessTracker.Models.Athlete>

@{
    ViewBag.Title = "AthleteList";
}

<h2>AthleteList</h2>

<p>
    @Html.ActionLink("Create New", "AthleteCreate")
</p>
<table class="table" id="myTable">
    <tr>
        <th onclick="SortTable(1)">
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </th>
        <th onclick="SortTable(2)">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th onclick="SortTable(3)">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th onclick="SortTable(4)">
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "AthleteUpdate", new { id = item.ID }) |
                @Html.ActionLink("Details", "AthleteDetails", new { id = item.ID }) |
                @Html.ActionLink("Delete", "AthleteDelete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<style>
    table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th {
        cursor: pointer;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

</style>
